<div class="intro">
	<div class="container">
		<div class="intro-inner">
			<div class="intro-actions">
				<h1 class="intro-title">
					Ishonchli tanlovni amalga oshir!
					<img src="./img/illustrations/blink.svg" alt="blink" draggable="false" class="no-select">
				</h1>
				<h2 class="intro-subtitle">Kelajak kasbingni biz bilan tanla!</h2>
				@@include('search-form.html')
				<div class="intro-tags">
					@@loop("tag.html", "./components/introduction/tags.json")
				</div>
			</div>

			<div class="intro-image">
				<img src="./img/illustrations/intro.png" alt="" draggable="false" class="no-select">
			</div>
		</div>
	</div>
</div>