*::selection {
	background-color: $accent-color;
	color: $white;
}

*::-moz-selection {
	background-color: $accent-color;
	color: $white;
}

*::-webkit-selection {
	background-color: $accent-color;
	color: $white;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #f5f9fe;
	font-family: 'graphik';
}

::-webkit-scrollbar {
	background-color: $white;
	width: 16px;
}

::-webkit-scrollbar-thumb {
	border: 4px solid transparent;
	background-color: $accent-color;
	border-radius: 100px;
	background-clip: content-box;
}
