.article-share {
	display: flex;
	flex-direction: column;
	gap: 24px;

	&__title {
		color: #3c3c3c;
		font-weight: 600;
		letter-spacing: 0.64px;
		font-size: 14px;

		@include breakpoint(sm) {
			font-size: 16px;
		}
	}

	&__items {
		display: flex;
		align-items: center;
		gap: 16px;
	}

	&__item {
		gap: 10px;
		color: $accent-color;
		background-color: #e9e9e9;
		font-weight: 400;
		letter-spacing: 0.64px;

		border-radius: 100px;
		width: 32px;
		height: 32px;
		padding: 6px;
		display: flex;
		align-items: center;
		justify-content: center;

		@include breakpoint(sm) {
			width: auto;
			height: auto;
			padding: 8px 14px;
			border-radius: 10px;
		}

		img {
			width: 20px;
			height: 20px;
			object-fit: scale-down;
		}

		span {
			display: none;

			@include breakpoint(sm) {
				display: block;
			}
		}
	}
}
