.article-banner {
	@include breakpoint(lg) {
		padding: 50px 0;
	}

	&__content {
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-between;
		gap: 30px;
		margin: 0 -20px;
		padding: 30px 22px;

		@include breakpoint(lg) {
			padding: 60px 70px;
			border-radius: 20px;
			flex-direction: row;
		}
	}

	&__title {
		color: $black;
		font-weight: 700;
		font-size: 24px;

		@include breakpoint(sm) {
			font-size: 36px;
		}

		@include breakpoint(md) {
			font-size: 56px;
		}

		@include breakpoint(lg) {
			font-size: 64px;
		}
	}

	&__description {
		margin-top: 20px;

		color: #3c3c3c;
		font-size: 19px;
		font-weight: 400;
		letter-spacing: 0.76px;
		max-width: 680px;
		line-height: 1.5;
	}

	&__info {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 30px;
		max-width: 380px;
	}

	&__date {
		color: #616385;
		font-size: 16px;
		font-style: italic;
		font-weight: 400;
		display: flex;
		align-items: center;
		gap: 10px;
	}

	&__view {
		color: #616385;
		font-size: 16px;
		font-weight: 500;
		display: flex;
		align-items: center;
		gap: 10px;
	}

	&__comments {
		color: #616385;
		font-size: 16px;
		font-weight: 500;
		display: flex;
		align-items: center;
		gap: 10px;
	}

	&__image {
		aspect-ratio: 1/1;
		max-width: 330px;
		margin: 0 auto;

		img {
			width: 100%;
			height: 100%;
			object-fit: scale-down;
		}
	}
}
