.article-share {
	display: flex;
	flex-direction: column;
	gap: 24px;

	&__title {
		color: #3c3c3c;
		font-size: 16px;
		font-weight: 600;
		letter-spacing: 0.64px;
	}

	&__items {
		display: flex;
		align-items: center;
		gap: 16px;
	}

	&__item {
		display: flex;
		align-items: center;
		gap: 10px;
		color: $accent-color;
		padding: 8px 14px;
		background-color: #e9e9e9;
		border-radius: 10px;
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0.64px;

		img {
			width: 20px;
			height: 20px;
			object-fit: scale-down;
		}
	}
}
