.faculty-intro {
	padding: 70px 0 30px;
	background-color: #f9f9ff;

	&__header {
		display: flex;
		align-items: center;
		gap: 30px;
	}

	&__logo {
		width: 86px;
		height: 86px;
		border-radius: 100%;
		background-color: red;
		flex-shrink: 0;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__title {
		color: #000;
		font-size: 18px;
		font-weight: 600;

		@include breakpoint(md) {
			font-size: 22px;
		}
	}
}
