.faculties {
	padding: 70px 0;

	&-inner {
		display: flex;
		flex-direction: column;
		gap: 36px;

		@include breakpoint(md) {
			gap: 70px;
		}
	}

	&-title {
		text-align: center;
		font-weight: 600;
		font-size: 20px;

		@include breakpoint(sm) {
			font-size: 36px;
		}
	}

	&-grid {
		display: grid;
		grid-template-columns: 1fr;
		gap: 24px 30px;

		@include breakpoint(sm) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include breakpoint(lg) {
			grid-template-columns: repeat(3, 1fr);
		}

		@include breakpoint(xl) {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	&-card {
		border-radius: 20px;
		border: 1px solid #f0f1ff;
		background: $white;
		box-shadow: 0px 10px 10px 0px rgba(136, 142, 255, 0.1);
		padding: 20px;
		display: flex;
		flex-direction: column;
		gap: 18px;

		h3 {
			color: #1e1e1e;
			font-size: 16px;
			font-weight: 600;
		}

		p {
			color: #878787;
			font-size: 14px;
			font-weight: 500;
		}

		span {
			display: inline-block;
			max-width: max-content;
			color: $white;
			font-size: 14px;
			font-weight: 500;
			background-color: $accent-color;
			padding: 10px;
			border-radius: 100px;
		}
	}

	&-link {
		display: flex;
		justify-content: center;

		a {
			color: $white;
			font-weight: 600;
			background-color: $accent-color;
			padding: 24px 80px;
			border-radius: 10px;

			width: 100%;
			font-size: 14px;
			text-align: center;

			@include breakpoint(sm) {
				width: auto;
				font-size: 20px;
			}
		}
	}
}
