.footer {
	background-color: #181818;

	&-main {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		padding: 40px 20px 30px;

		@include breakpoint(md) {
			padding: 64px 20px 36px;
		}

		&__info {
			display: flex;
			flex-direction: column;
			gap: 8px;
			grid-column-start: 1;
			grid-column-end: 3;

			&-logo {
				max-width: 165px;
				height: 44px;
			}

			&-date {
				color: $white;
				font-size: 16px;
				display: none;

				@include breakpoint(md) {
					display: block;
				}
			}
		}

		&__list {
			display: none;
			flex-direction: column;
			gap: 20px;

			@include breakpoint(md) {
				display: flex;
			}

			&-item {
				a {
					display: inline-flex;
					align-items: center;
					gap: 10px;
					color: $white;
					font-size: 18px;
				}
			}
		}
	}

	&-base {
		display: none;
		align-items: center;
		justify-content: space-between;
		padding: 10px 20px;
		border-top: 1px solid #353535;
		color: $white;
		font-size: 14px;

		@include breakpoint(md) {
			padding: 24px 20px;
			display: flex;
		}

		a {
			color: $white;
		}
	}
}
