.footer {
	background-color: #181818;

	&-main {
		display: grid;
		padding: 40px 20px 30px;
		gap: 30px;

		@include breakpoint(md) {
			grid-template-columns: repeat(6, 1fr);
			padding: 64px 20px 36px;
			gap: 0;
		}

		&__info {
			display: flex;
			flex-direction: column;
			gap: 8px;

			@include breakpoint(md) {
				grid-column-start: 1;
				grid-column-end: 3;
			}

			&-logo {
				max-width: 165px;
				height: 44px;
			}

			&-date {
				color: $white;
				font-size: 16px;
				display: none;

				@include breakpoint(md) {
					display: block;
				}
			}
		}

		&__list {
			display: none;
			flex-direction: column;
			gap: 20px;

			@include breakpoint(md) {
				display: flex;
			}

			&-item {
				a {
					display: inline-flex;
					align-items: center;
					gap: 10px;
					color: $white;

					@include breakpoint(md) {
						font-size: 14px;
					}

					@include breakpoint(lg) {
						font-size: 18px;
					}
				}
			}
		}

		&__mobile-list {
			display: flex;
			flex-direction: column;
			gap: 30px;
			font-size: 16px;

			@include breakpoint(md) {
				display: none;
			}
		}
	}

	&-base {
		display: flex;
		flex-direction: column;
		padding: 10px 20px 40px;
		color: $white;
		gap: 20px;

		@include breakpoint(md) {
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			padding: 24px 20px;
			border-top: 1px solid #353535;
		}

		&__copyright {
			font-size: 14px;
		}

		&__rules {
			display: none;
			color: $white;
			font-size: 14px;

			@include breakpoint(md) {
				display: block;
			}
		}

		&__social {
			display: flex;
			align-items: center;
			gap: 36px;

			@include breakpoint(md) {
				display: none;
			}

			&-item {
				a {
					opacity: 0.3;
				}
			}
		}
	}
}
