.pages {
	@include absolute(fixed, 50%, auto, auto, 0, 10);
	transform: translateY(-50%);

	&-list {
		background-color: $white;
		border-radius: 10px;
		padding: 20px 40px;
		margin-left: 20px;
		box-shadow: 0px 10px 24px 0px #9196ff1f;
		position: relative;
		max-width: 250px;
		width: 100%;

		li {
			margin-top: 10px;

			&:last-child {
				margin-top: 0;
			}

			a {
				display: block;
				color: $black;
				padding: 10px 0;
			}
		}
	}

	&-icon {
		@include absolute(absolute, 50%, 0, auto, auto);
		background-color: $white;
		border-radius: 100%;
		width: 50px;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: end;
		padding: 0 10px 0 0;
		transform: translate(50%, -50%);
		cursor: pointer;

		img {
			transform: rotate(-90deg);
		}
	}
}
