.pages {
	padding: 30px;
	background-color: $white;
	max-width: 768px;
	margin: 50px auto;
	border-radius: 20px;
	box-shadow: 0px 10px 24px 0px #9197ff49;

	display: flex;
	flex-direction: column;
	gap: 20px;

	a {
		display: block;
		padding: 15px 30px;
		border: 2px dashed #b7b7b7;
		color: $black;
		font-size: 20px;
		font-weight: 300;
		transition: all 0.3s linear;

		&:hover {
			background-color: #e9f9ff;
			border-color: transparent;
		}
	}
}

.widget {
	@include absolute(fixed, 50%, auto, auto, 0, 10);
	background-color: #eaeaea;
	transform: translate(-50%, -50%);
	border-radius: 100%;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: end;
	padding: 0 10px 0 0;
	box-shadow: 0px 10px 24px 0px #9197ff49;
	cursor: pointer;

	img {
		transform: rotate(-90deg);
		pointer-events: none;
	}
}
