<div class="blog-card">
	<div class="blog-card__poster">
		<img src="@@poster" alt="@@title" draggable="false" class="no-select">
	</div>

	<div class="blog-card__stats">
		<p>Workplace</p>
		<div class="blog-card__wrapper">
			<div class="blog-card__stat">
				<img src="./img/icons/view.svg" alt="view" draggable="false" class="no-select">
				<span>@@view</span>
			</div>
			<div class="blog-card__stat">
				<img src="./img/icons/comment.svg" alt="comment" draggable="false" class="no-select">
				<span>@@comment</span>
			</div>
		</div>
	</div>

	<div class="blog-card__info">
		<h3 class="blog-card__title" title="Where can I go to study to become an accountant?">@@title</h3>
		<div class="blog-card__date">
			<img src="./img/icons/calendar.svg" alt="calendar" draggable="false" class="no-select">
			<span>@@date</span>
		</div>
	</div>
</div>