<div class="students">
	<div class="container">
		<div class="students-inner">
			<h2 class="students-title">Talabalar uyi va hayoti</h2>

			<div class="students-grid">

				<div class="students-card">
					<img src="./img/gallery/students-life.jpg" alt="" draggable="false" class="no-select">
				</div>

				<div class="students-card">
					<img src="./img/gallery/students-life.jpg" alt="" draggable="false" class="no-select">
				</div>

				<div class="students-card">
					<img src="./img/gallery/students-life.jpg" alt="" draggable="false" class="no-select">
				</div>

			</div>
		</div>
	</div>
</div>