<div class="professions-content">
	<div class="container">
		<div class="professions-content__inner">
			<ul class="professions-content__list">
				@@loop('sidebar-link.html', './components/professions-content/sidebar.json')
			</ul>

			<div class="professions-content__tags">
				<h3 class="professions-content__sidebar-tags-title">Tags</h3>

				<ul>
					@@loop('tag.html', './components/professions-content/tags.json')
				</ul>
			</div>

			<div class="professions-content__content">
				@@include('main.html')
				@@include('requirements.html')
				@@include('advantages.html')
				@@include('places.html')
				@@include('links.html')
			</div>
		</div>
	</div>
</div>