<div class="professions-content__content-requirements">
	<div class="professions-content__content-requirements__wrapper">
		<h4 class="professions-content__content-title">Talablar</h4>
		<ul>
			<li>Sohadagi oliy ma’lumot;</li>
			<li>Oshqozon-ichak kasalliklarini bilish;</li>
			<li>Tashxislash va davolash qobiliyati;</li>
			<li>Endoskopiya va boshqa diagnostika usullari haqida ma’lumot.</li>
		</ul>
	</div>

	<div class="professions-content__content-requirements__wrapper">
		<h4 class="professions-content__content-title">Sifatlar</h4>
		<ul>
			<li>Sohadagi oliy ma’lumot;</li>
			<li>Oshqozon-ichak kasalliklarini bilish;</li>
			<li>Tashxislash va davolash qobiliyati;</li>
			<li>Endoskopiya va boshqa diagnostika usullari haqida ma’lumot.</li>
		</ul>
	</div>

	<div class="professions-content__content-requirements__wrapper">
		<h4 class="professions-content__content-title">Majburiyatlar</h4>
		<ul>
			<li>Sohadagi oliy ma’lumot;</li>
			<li>Oshqozon-ichak kasalliklarini bilish;</li>
			<li>Tashxislash va davolash qobiliyati;</li>
			<li>Endoskopiya va boshqa diagnostika usullari haqida ma’lumot.</li>
		</ul>
	</div>
</div>